In [1]:
import pandas as pd
import plotly_express as px

In [2]:
data = pd.read_excel("vendas.xlsx")

In [3]:
data.head()
data.tail()
data.shape
data.dtypes
data.describe()

                                data         preco
count                          70000  70000.000000
mean   2021-10-01 20:36:10.697142784      8.355200
min              2020-01-01 00:00:00      5.000000
25%              2021-01-01 00:00:00      7.000000
50%              2022-01-02 00:00:00      7.000000
75%              2022-07-02 00:00:00     11.000000
max              2022-12-31 00:00:00     13.000000
std                              NaN      2.653061

In [4]:
data.loja.value_counts()
data.tamanho.value_counts()
data.forma_pagamento.value_counts()

forma_pagamento
Crédito     26063
Débito      20427
Dinheiro    14709
Pix          8801
Name: count, dtype: int64

In [5]:
data.groupby("loja").preco.sum()
data.groupby("loja").preco.mean()
data.groupby("estado").preco.sum()
data.groupby("estado").preco.mean()
data.groupby(["estado", "cidade"]).preco.sum().to_frame()
data.groupby(["estado", "cidade"]).preco.sum().to_excel("Faturamento-estado.cidade.xlsx")
data.groupby(["estado", "cidade"]).preco.mean().to_frame()
data.groupby(["estado", "cidade"]).preco.mean().to_excel("Faturamento-medio-estado.cidade.xlsx")

In [6]:
graphic_a = px.histogram(data, x = "loja", y = "preco", text_auto=True, color="estado")
graphic_b = px.histogram(data, x = "loja", y = "preco", text_auto=True, color="forma_pagamento")
graphic_c = px.histogram(data, x = "estado", y = "preco", text_auto=True, color="forma_pagamento")
graphic_d = px.histogram(data, x = "cidade", y = "preco", text_auto=True, color="forma_pagamento")

In [7]:
graphic_b.write_html("Grafico-forma-pagamento.html")

In [8]:
columns = ["loja", "cidade", "estado", "regiao", "tamanho", "local_consumo"]

for column in columns:
    graphic = px.histogram(data, x = column, y = "preco", text_auto=True, color="forma_pagamento")
    graphic.write_html(f"Grafico-{column}.html")